index.php
plugins/*
!plugins/pl-scaffold-plugin/
themes/*
!themes/pl-scaffold-theme/
node_modules/*
themes/pl-scaffold-theme/node_modules
plugins/pl-scaffold-plugin/node_modules
vendor/*
themes/pl-scaffold-theme/vendor
plugins/pl-scaffold-plugin/vendor
themes/pl-scaffold-theme/dist
plugins/pl-scaffold-plugin/build
debug.log